/* TodoItem.css */

ul {
  padding-inline-start: 0; /* Establece el padding izquierdo del ul a 0 */
}

.TodoItemContainer {
  width: 70%; /* Ancho del contenedor TodoList */
  margin: 0 auto; /* Centra el contenedor horizontalmente en la página */

}

li {
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  justify-content: space-between; 
  font-size: 18px;
  margin: 8px;
  color: black;
  padding-left: 0; /* Elimina el padding izquierdo */
  margin-left: 0;
}

.TodoItem {
  font-family: 'Open Sans';
  font-size: 18px;
  margin: 8px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: linear-gradient(90deg, rgba(0, 128, 0, 0.2) 0%, rgba(0, 128, 0, 0.2) 100%); /* Agregamos el color degradado verde */
}

/* TodoItem.css */




.Icon {
  font-size: 24px; /* Tamaño de los iconos */
  margin-right: 8px; /* Espaciado entre icono y texto */
}

.Icon-check--active {
  color: green; /* Color del icono de check activo (verde) */
}

.TodoItem-p {
  flex: 1; /* Para que el texto ocupe el espacio restante */
}

.Icon-delete {
  color: red; /* Color del icono delete (rojo) */
}


.TodoItemContainer li:hover {
  background-color: rgba(129, 199, 132, 1);
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  cursor: pointer;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.Icon-check--active{
  color: green;
}

.Icon-check:hover,
.Icon-delete:hover {
  color: white; /* Color del icono en el hover (blanco) */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}



