/* TodoForm.css */

.TodoForm {
    margin-top: 32px;
    display: flex;
    flex-direction: row; /* Cambio de columna a fila */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    /* Ajusta la altura del formulario para que ocupe toda la ventana */
    margin-bottom: 16px;
  }
  
  .TodoForm-input {
    font-family: 'Open Sans';
    font-size: 16px; /* Tamaño de fuente */
    padding: 12px 12px; /* Espaciado interno */
    border: none; /* Quita el borde del input */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    width: 300px; /* Ancho del input (ajusta según tus necesidades) */
    /*outline: none; /* Quita el borde de enfoque al hacer clic */
    outline-color: rgba(0, 128, 0, 0.2);
    margin-right: 4px; /* Separación entre el input y el botón "Agregar" */
  }
  
  .TodoForm-button {
    font-family: 'Open Sans';
    font-size: 16px; /* Tamaño de fuente */
    padding: 12px 12px; /* Espaciado interno */
    border: none; /* Quita el borde del input */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    /*outline: none; /* Quita el borde de enfoque al hacer clic */
    outline-color: rgba(0, 128, 0, 0.2);
  }
  
  .TodoForm-button:not(:last-child) {
    margin-right: 4px; /* Separación entre botones */
  }
  