/* TodoSearch.css */

.TodoSearchContainer {
  display: flex;
  justify-content: center; /* Centra el contenedor horizontalmente en la página */
  align-items: center; /* Centra el contenedor verticalmente en la página */
  height: 12vh; /* Establece la altura del contenedor al 100% de la ventana gráfica */
}

.TodoSearchInput {
  font-family: 'Open Sans';
  font-size: 16px; /* Tamaño de fuente */
  padding: 12px 12px; /* Espaciado interno */
  border: none; /* Quita el borde del input */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  width: 300px; /* Ancho del input (ajusta según tus necesidades) */
  /*outline: none; /* Quita el borde de enfoque al hacer clic */
  outline-color: rgba(0, 128, 0, 0.2);
}
  
.TodoSearchInput::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Color del texto de placeholder */
}